<h2>Output JSON data in tabular form</h2>
<h4>1. Open Chrome Developer tools by pressing either:</h4>
<blockquote>
  <code>Ctrl</code> + <code>Shift</code> + <code>I</code>&nbsp;&nbsp;or&nbsp;&nbsp;
  <code>F12</code>
</blockquote>
<h4>2. Click on the button below to start and stop a single timer</h4>
<blockquote>
    <button (click)="onClickRunSingleTimer()" class="btn btn-success" type="button">Run timer</button>
</blockquote>
<h4>3. Click on the button below to start and stop multiple timers</h4>
<blockquote>
    <button (click)="onClickRunMultipleTimers()" class="btn btn-success" type="button">Run timers</button>
</blockquote>
