<h2>Discovering Memory Leaks</h2>
<h4>1. Open Chrome Developer tools by pressing either:</h4>
<blockquote>
  <code>Ctrl</code> + <code>Shift</code> + <code>I</code>&nbsp;&nbsp;or&nbsp;&nbsp;
  <code>F12</code>
</blockquote>
<h4>2. Navigate to the "Memory" tab</h4>
<blockquote>
  <img src="assets/images/DiscoverMemoryLeaks01.png" height="270px" />
</blockquote>
<h4>3. Click on the button below to start the demo</h4>
<p>This will create a <code>ul</code> node with several <code>li</code> children. These are referenced by the code, but not the DOM. This is what is called a detached DOM tree nodes.</p>
<blockquote>
    <button (click)="onClickCreateDetachedDomTree()" class="btn btn-primary" type="button">Create Detached DOM Tree</button>
</blockquote>
