<h2>Output JSON data in tabular form</h2>
<h4>1. Open Chrome Developer tools by pressing either:</h4>
<blockquote>
  <code>Ctrl</code> + <code>Shift</code> + <code>I</code>&nbsp;&nbsp;or&nbsp;&nbsp;
  <code>F12</code>
</blockquote>
<h4>2. Then click on either of the two buttons below</h4>
<blockquote>
    <button (click)="onClickLogButton()" class="btn btn-danger" type="button">Display using console.log()</button>&nbsp;
    <button (click)="onClickTableButton()" class="btn btn-success" type="button">Display using console.table()</button>
</blockquote>
