<div>
  <h2>Available Demos:</h2>
  <p>Below are a list of the available pages that demonstrate various functions available in the Chrome Developer tools.</p>
  <h3>Miscellaneous Tips and Tricks</h3>
  <ul>
    <li><a href="/TabularJsonData">Tabular JSON Data</a></li>
    <li><a href="/MeasuringOperationDuration">Measuring Operation Duration</a></li>
    <li><a href="/IgnoringThirdPartyScripts">Ignoring Third-Party Scripts</a></li>
  </ul>
  <h3>Advanced Debugging</h3>
  <ul>
    <li><a target="_blank" href="https://googlechrome.github.io/devtools-samples/jank/">Evaluating Performance</a></li>
    <li><a href="/EvaluateMemoryUsage">Evaluating Memory Usage</a></li>
  </ul>
</div>
